<template name="trending">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Trending</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each products}}
          <!-- <div class="" onclick="window.open('{{url}}', '_self')">
              {{> _productItem product=this}}
          </div> -->
          <div data-ion-modal="gameModal" data-title="{{this.name}}" data-url="{{this.url}}">
              {{> _productItem product=this}}
          </div>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="gameModal">
    {{#ionModal title=title}}
        <iframe src="{{url}}" frameborder="0"  style="width:100%; height:100%;"></iframe>
    {{/ionModal}}
</template>
