<head>
  <title>Nossle</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link rel="apple-touch-icon" sizes="57x57" href="/logo.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/logo.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/logo.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/logo.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/logo.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/logo.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/logo.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/logo.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/logo.png">
  <link rel="icon" type="image/png" href="/logo.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/logo.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/logo.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/logo.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/logo.png" sizes="32x32">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2">

  <meta name="theme-color" content="#DE4F4F" />
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Nossle">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>

<body>
</body>
