<template name="signIn">
  {{#ionModal title=""}}

    <div class="padding text-center sign-in-modal">
      <p>
        <img src="/logo.png" width=80 height=80 />
        <br>
        <strong>Hey! You should accept us into the fellowship so we can make this button work :)</strong>
      </p>

      <p>
        <a href="tel:15178999677" style="text-decoration:none; color:white;">
            <button class="button button-positive sign-in-button">
                Call us!
            </button>
        </a>
      </p>
    </div>

  {{/ionModal}}
</template>
